.main-room{
	background-color: rgb(0,255,0);
 	/*min-height: 80%;
  	height: auto !important; min-height hack
  	height: 80%;
  	display: block;*/
}

.main-zone-actions{
	/*margin-top: 150px;*/
	margin: 0 auto;
}

.main-ppm{
	font-size: 3em;
}

#main-sensor{
	font-weight: bold;
}

.main-img-container{
	max-width: 60%;
	margin: 0 auto;
}

.main-img{
	 height: auto;
	 max-width: 100%;
	 vertical-align: center;
}

.hide-img{
	display: none;
}

.main-instruct{
	text-align: center;
	font-size: 5em;
	font-weight: bold;
	background-color: white;
}

.zone-img{
	height: 350px;
	width: auto;
	max-width: 100%;
}

.zone-sensor{
	text-align: center;
	height: 100px;
	width: 200px;
	padding-bottom: 30%;
	margin: 0 auto;
	background-color: rgb(0,255,0);
	font-size: 40px;
}

.motor-sensor{
	text-align: center;
	height: 100px;
	width: 200px;
	padding-bottom: 30%;
	margin: 0 auto;
	color: black;
	background-color: rgb(125,125,255);
	font-size: 40px;
}